
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    text-align: center;
    background-image :url('../img/BackgroundLogin.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centralize verticalmente */
    text-align: center;
    margin: 0 auto; /* Centralize horizontalmente e remova 'margin-top' */
    background-color: #ea9e34;
    width: 400px;
    height: 450px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}
input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 25px;
    width: 300px;
    background-color: #d9d9d9;
    margin-bottom: 50px;
}
label {
    font-size: 11px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 230px;

}
button {
    padding: 15px 15px;
    background-color: #fd0000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
    margin-top: 5px;
    width: 150px;
    
    
}
button:hover {
    background-color: #9e0000;
}