/* font importing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* reseting css rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --orange: #EA9E3B;
  --blue: rgb(255, 255, 255);
  --gray:#ededed;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

header {
  width: 100%;
  height: 500px;
  background-color: #EA9E3B;
}

.header-content {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.cart-button {
  background: transparent;
  padding: 8px 15px;
  cursor: pointer;
  margin-left: 30px;
  color: var(--blue);
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid var(--blue);
  border: 1px solid #ffffff;
}

.cart-button:hover {
  background-color: #ffffff;
  color: #ea9e3b;
  padding: 10px 20px;
  margin-left: 33px;
  transition: 0.2s;
}

.cart-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: #ffffff;
}

.brand-logo {
  font-size: 24px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

nav ul li a {
  border: 1px solid var(--blue);
  background: transparent;
  padding: 8px 40px;
  cursor: pointer;
  margin-left: 30px;
  color: var(--blue);
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
}

nav ul li a:hover {
  transition: background, color 0.6s;
  background: var(--blue);
  color: #EA9E3B;
  padding: 12px 45px;
  margin-left: 33px;
  transition: 0.2s;
}

nav ul button {
  border: 1px solid var(--blue);
  background: transparent;
  padding: 8px 40px;
  cursor: pointer;
  margin-left: 30px;
  color: var(--blue);
  font-weight: bold;
  border-radius: 4px;
}

nav ul button:hover {
  transition: background, color 0.6s;
  background: var(--blue);
  color: #EA9E3B;
  padding: 12px 45px;
  margin-left: 33px;
  transition: 0.2s;
}

.header-block {
  max-width: 1000px;
  min-width: 300px;
  height: 450px;
  background: var(--blue);
  border-radius: 8px;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text {
  max-width: 280px;
  color: #EA9E3B;
}

.header-text h2 {
  margin-bottom: 20px;
  margin-left: 20px;
  transform: translateX(-20px);
  transition: transform 0.5s;
}

.header-text p {
  max-width: 280px;
  color: #EA9E3B;
  margin-left: 20px;
  transform: translateX(-20px);
  transition: transform 0.4s;
  margin: 20 20;
}

.header-block img {
  width: 80%;
  position: absolute;
  margin-left: 300px;
  bottom: 2%;
}

/* Menu Section */

.menu {
  width: 100%;
  padding: 50px 0;
  background: #f9f9f9;
}

.menu-content {
  max-width: 800px;
  min-width: 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.menu-title-wrapper {
  margin-top: 100px;
  padding-bottom: 10px;
}

.menu-filter {
  width: 100%;
  height: 120px;
  background: #f1f1f1;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 70%;
  height: 40px;
  border: none;
  border-radius: 20px;
  text-indent: 10px;
}

.search-button {
  width: 30%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: #ffcc33;
  color: #333;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.2s ease;
}

.search-button:hover {
  background: #ffbf00;
  color: #fff;
}

.menu-card-wrapper {
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  padding-top: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  


}

.menu-card-item {
  height: 300px;
  background: #f9f9f9;
  border-radius: 10px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.menu-card-item:hover {
  transform: scale(1.05);
}

.menu-card-content {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-card-item img {
  display: flex;
  margin-left: 100px;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-radius: 10px 10px 0 0;
  padding: 5px;
  margin-left: 40px;
  
}

.menu-card-item h3 {
  width: 80%;
  font-size: 20px;
  margin-top: 20px;
}
.menu-card-item span{
  color: rgb(109, 171, 10);
 font-size: 15px;
  
}
.menu-card-item p {
  font-size: 10px;
  width: 80%;
  font-style: italic;
  color: #666;
}

.menu-card-item button {
  width: 80%;
  padding: 8px 0px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 5px;
  background: #ffcc33;
  color: #333;
  margin-top: 8px;
}

.menu-card-item button:hover {
  background: #ffbf00;
  color: #fff;
}

.left {
  width: 20%;
  min-width: 250px;
  height: 100%;
  background: #333;
  border-radius: 10px;
}

.right {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 5%;
}

.right h3 {
  text-align: left;
  width: 80%;
  margin-bottom: 10px;
  font-size: 2em;
}

.right p {
  max-width: 80%;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}

/* Features */
.features {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.title-wrapper-features {
  padding: 10px 0;
}

.feature-card-block {
  max-width: 800px;
  min-width: 250px;
  height: 500px;
  background: white;
  margin: 0 auto;
  border-radius: 10px;
  z-index: 10;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 20px;
}

.feature-card-item {
  max-width: 320px;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.feature-text-content {
  max-width: 60%;
  margin: 5px;
  font-size: 1.2em;
}

.feature-card-item img {
  width: 50px;
  height: 50px;
 
}

/* Footer */
footer {
  width: 100%;
  height: auto;
  background: #ffd700; 
}

.footer-main {
  width: 100%;
  background: #ff8c00; 
  padding: 20px 10px;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cartoon {
  font-family: 'Comic Sans MS', cursive;
}

.footer-company, .footer-contact-info, .footer-social {
  color: white;
  min-height: 100px;
  margin: 20px;
  text-align: center;
}

.footer-social img {
  width: 64px;
  height: 64px;
  margin: 8px;
}

.footer-last {
  background: #4169e1; 
  color: white;
  text-align: center;
  padding: 15px 0;
}
/* Responsive adjustments */

@media (max-width: 576px) {
  nav ul li {
    display: none;
  }

  .header-block img {
    width: 100%;
    align-items: center;

    right: 0%;
    top: 30%;
    
    
  }

  .header-text {
    position: absolute;
    bottom: 10%;
    left: 100px;
    align-items: center;
  }

  .menu-card-item button {
    width: 60%;
    padding: 5px 0px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 5px;
    background: #ffcc33;
    color: #333;
    margin-top: -1px;
  }

  .menu-filter {
    flex-direction: column;
    align-items: stretch;
    
  }
  .menu-card-item img {
    width: 50%;
    margin-left: 100px;
  }

  .search-input,
  .search-button {
    width: 100%;
  }


  .left {
    display: none;
  }

  .right {
    width: 90%;
  }

  .right p {
    width: 100%;
    margin: 0px;
    text-align: left;
  }

  .features {
    height: 100%;
  }

  .feature-card-block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  footer {
    height: 100%;
   
  }

  footer .main {
    height: 100%;
    
  }

  .footer-content {
    max-width: 1000px;
    min-width: 300px;
    margin-left: 80px;
    padding: 15px;
  }
  .footer-links {
    flex-direction: column;
    padding-left: 10%;
   
    
  }
  .footer-contact-info {
    padding : 15px;
  }
}
